<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <div class="portfolio-logo"></div>
            <span class="mdl-layout__title">新博客,新目标</span>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link {{portfolioActive}}" href="/portfolio">展示</a>
            <a class="mdl-navigation__link {{blogActive}}" href="/blog">博客</a>
            <a class="mdl-navigation__link {{aboutActive}}" href="/about">关于</a>
            <a class="mdl-navigation__link {{contactActive}}" href="/contact">联系</a>
        </nav>
    </div>
</header>