<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link is-active" href="index.html">展示</a>
        <a class="mdl-navigation__link" href="blog.html">博客</a>
        <a class="mdl-navigation__link" href="about.html">关于</a>
        <a class="mdl-navigation__link" href="contact.html">联系</a>
    </nav>
</div>